###############################################################################
# Ignore these directories
###############################################################################

data/
logs/
node_modules/


###############################################################################
# Ignore these files
###############################################################################

.editorconfig
.gitignore
docker-compose.yml

