# See https://help.github.com/ignore-files/ for more about ignoring files.


###############################################################################
# Ignore these directories
###############################################################################

/coverage
/node_modules
.elasticbeanstalk/*


###############################################################################
# Ignore these files
###############################################################################

*.log
*~
.*


###############################################################################
# Accept these directories
###############################################################################

!.ebextensions/


###############################################################################
# Accept these files
###############################################################################

!.dockerignore
!.editorconfig
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.eslintignore
!.eslintrc
!.gitignore
!.nvmrc
