# See https://help.github.com/ignore-files/ for more about ignoring files.


###############################################################################
# Ignore these directories
###############################################################################

/node_modules


###############################################################################
# Ignore these files
###############################################################################

*.log
*~
.*


###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.eslintrc
!.gitignore
!.nvmrc
