# See https://help.github.com/ignore-files/ for more about ignoring files.


###############################################################################
# Ignore these directories
###############################################################################

/coverage
/node_modules


###############################################################################
# Ignore these files
###############################################################################

*.log
*~
.*


###############################################################################
# Accept these files
###############################################################################

!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc
!.gitignore
!.nvmrc
